@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: 0 0% 100%;
	--forground-color: 0 0% 0%;
	--forground-light-color: 0 0% 24%;
	--primary-color: 224 89% 60%;
	--secondary-color: 0 80% 61%;
	--card-color: 240 1% 87%;
	--card-light-color: 0 0% 92%;
	--card-color: 0 0% 96%;
	--card-light-color: 0 0% 94%;
	--nav-height: 128px;
}

.dark {
	--background-color: 0 0% 0%;
	--forground-color: 0 0% 100%;
	--forground-light-color: 0 0% 84%;
	--primary-color: 0 80% 61%;
	--secondary-color: 224 89% 60%;
	--card-color: 0 0% 4%;
	--card-light-color: 0 0% 10%;
	--nav-height: 128px;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: hsl(var(--background-color));
	color: hsl(var(--forground-color));
	font-family: 'Poppins', sans-serif;
}

body *::selection {
	background-color: hsl(var(--primary-color));
	color: hsl(var(--forground-color));
}

body *:focus {
	outline: none;
}

.container {
	margin: 0 auto;
}

.visually__hidden__link {
	overflow: hidden;
	-webkit-text-indent: -9999px;
	text-indent: -9999px;
	-webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: hsl(var(--background-color));
}

::-webkit-scrollbar-thumb {
	background: #222222;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
